      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020-2021 <a href="https://www.facebook.com/abdelrahman.g.nofal">Mahmoud Nabil</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" href="https://www.linkedin.com/public-profile/settings"><i class="fab fa-lg fa-linkedin"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100027196323594&mibextid=ZbWKwL"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://instagram.com/mahmoood_nabil?igshid=ZGUzMzM3NWJiOQ=="><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>